<%- include('../partials/head') %>
<body class="vh-100">
    <div class="ms-3">
        <h1 class="mt-3"><%= category.name %></h1>
        <div class="mt-4 mb-3"><%= category.description %></div>
        <h3>Items</h3>
        <ul>
            <% items.forEach(function(item) { %>
            <li><%= item.name %></li>
            <% }) %>
        </ul>
        <hr />
        <button type="button" class="btn btn-outline-primary">
            <a
                href="/category/<%= category.id %>/delete"
                style="text-decoration: none"
                >Delete Category</a
            >
        </button>
        <button type="button" class="btn btn-outline-primary">
            <a
                href="/category/<%= category.id %>/update"
                style="text-decoration: none"
                >Update Category</a
            >
        </button>
    </div>
</body>
