<%- include('../partials/head') %>
<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"><%- include('../partials/sidebar') %></div>
            <div class="col-sm-10">
                <h1><%= title %></h1>
                <ul>
                    <% items.forEach(function(item) { %>
                    <li class="mb-2">
                        <a href="<%= item.url %>"><%= item.name %></a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</body>
